{% extends "base.html" %}

{% block body %}

<br>
<h2>Facilities</h2>
{% for facility in facilities %}
	<h3>{{facility[0]}}</h3>
{% endfor %}


<br>
<h2>Add Facility</h2>
<form action="" class="form-inline" method="POST">
	<input type="text" class="form-control" placeholder="name" name="name" value="{{request.form.name}}">
	<input type="text" class="form-control" placeholder="code" name="code" value="{{request.form.code}}">
	<input class="btn btn-default" type="submit" value="add">

</form>

{{error}}
{% endblock %}
