<html>
<head>
<title>LOST APP</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
		{% if session.logged_in %}
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		<li><a href="{{ url_for('add_asset') }}">Add Asset</a></li>
		<li><a href="{{ url_for('add_facility') }}">Add Facility</a></li>
		<li><a href="{{ url_for('disposeAsset') }}">Dispose Asset</a></li>	
		<li><a href="{{ url_for('transferReq') }}">Transfer Request</a></li>
		<li><a href="{{ url_for('approveReq') }}">Approve Request</a></li>

		{% else %}
		<li><a href="{{ url_for('login') }}">Login</a></li>
		{% endif %}
		<li><a href="{{ url_for('create_user') }}">Create User</a></li>
		<li><a href="{{ url_for('assetReport') }}">Asset Report</a></li>
		<li><a href="{{ url_for('transferReport') }}">Transfer Report</a></li>

		</ul>

		{% if session.logged_in %}
		<span><h2>Hello: </h2> {{session.name}}</span>
		{% endif %}

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h3>{{message}}</h3>
				{% endfor %}
			{% endif %}
		{% endwith %}

{% block body %} {% endblock %}
	</div>
</body>
</html>
