{% extends "base.html" %}

{% block body %}

<form action="{{url_for('add_products', vendor=request.form.vendor, description=request.form.description)}}" method="post">
	<h3>Add Products</h3>
	<h4>vendor</h4>
	<input type="text" name="vendor" value='{{request.form.vendor}}'>
	<h4>description</h4>
	<input type="text" name="description" value='{{request.form.description}}'>
	<input type="submit" value="Submit">
</form>
<form action="{{url_for('add_asset', asset_tag=request.form.asset_tag, description=request.form.description)}}" method="post">
	<h3>Add Asset</h3>
	<h4>asset tag</h4>
	<input type="text" name="asset_tag" value="{{request.form.asset_tag}}">
	<h4>description</h4>
	<input type="text" name="description" value="{{request.form.description}}">
	<input type="submit" value="Submit">
</form>
<form action="{{url_for('activate_user', name=request.form.name)}}" method="post">
	<h3>Activate User</h3>
	<h4>User Name</h4>
	<input type='text' name='name' value='{{request.form.name}}'>
	<input type="submit" value="Submit">
</form>
	
	{{data}}
{% endblock %}
